{% extends 'base.html' %}

{% block content %}
<p>{{ movies|length }} Titles</p>
<form method="post">
    Movieid <input type="text" name="movieid" autocomplete="off" required>
    Name <input type="text" name="title" autocomplete="off" required>
    Releasedate <input type="text" name="releasedate" autocomplete="off" required>
    Country <input type="text" name="country" autocomplete="off" required>
    Type <input type="text" name="Type" autocomplete="off" required>
    Year <input type="text" name="year" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.movieid }} - {{ movie.title }} - {{ movie.releasedate }} - {{ movie.country }} - {{ movie.Type }} - {{ movie.year }}
        <span class="float-right">
	    <a class="btn" href="{{ url_for('edit', movie_id=movie.movieid) }}">Edit</a>
            <form class="inline-form" method="post" action="{{ url_for('.delete', movie_id=movie.movieid) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="smile felix" class="dongtu" src="{{ url_for('static', filename='images/dongtu.gif') }}">
{% endblock %}
